extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner HACKDUKE DEMO
    div.Message
      div.Title
        h3 Making the Best
        h1 Demos for Devs
      span.Details Access the HACKDUKE Team Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in
